@import "color.scss";


/* Mixins have to be on the start of the file */
@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform:  translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

body{
    font-family: 'Open-Sana', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style:  normal;
}

a {
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;

    &:hover{
        color: $red;
        @include transition(.4s ease-in-out);
    }
}

.container-fluid{
    line-height: 24px;
}
