/*------------scss-background-color---------------------*/

$white-b-c: #ffffff;

$black-b-c: #010000;

$lightGray-b-c: #e6e6e6;

$darkGray-b-c: #333;

$red-b-c: #ff1755;

$yellow-b-c: yellow;

$green-b-c: green;

$gray-b-c: gray;

/*----------------scss-color---------------------*/

$white: #ffffff;

$black: #010000;

$lightGray: #e6e6e6;

$darkGray: #333;

$red: #ff1755;

$green: #00FF00;

$blue: #0000FF;

$blue-ice: #3090C7;

$gray-goose: #D1D0CE;

/*-----------------background-color---------------------*/

.bgcw{
	background-color: white;
}

.bgcy{
	background-color: yellow;
}

.bgcr{
	background-color: red;
}

.bgcg{
	background-color: #50846d;
}

.bgc-green{
	background-color:#248a83;
}

.bgc-transparent{
	background-color: transparent;
}

.bgc-metal-gray{
background-color: #E5E4E2;
}
.bgc-blue{
background: #337ab7;
}

.bgc-black{
	background-color:black;
}

/*-----------------color---------------------*/
.wcolor{
	color: white;
}

.rcolor{
	color:red;
}

.mnbcolor{
   background: #151B54;
}

.gcolor{
	color:gray;
}

.product-color{
	color: #333;
}

.color-green{
	color:#248a83;
}

.footer-title{
	color:#d99054;
}

.light-brown-title{
	color:#d99054;
}

.bluecolor{
	color:#227d77;
}


/*----------Border---------------*/

.border-all-ex-sml{
	border: 1px solid black;	
}


.border-all-sml{
	border: 3px solid black;	
}

.border-all{
	border: 10px solid black;	
}

.border-color-top{
	border-style: solid;
	border-top-width: 8px;
	border-color: #e1e1e1;

}

.border-color-top-dotted{
	border-top-style: dotted;
	border-top-width: 1px;
	border-color: #e1e1e1;
}

.border-color-black{
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

.border-color-white{
	border-style: solid;
	border-color: white;
	border-width: 3px;
}


.no-border{
	background-color: transparent;
	border: 0px solid;
}

 /*-------------bor-radius----------------*/

.bor-radius{
	-webkit-border-radius:50px;
}


.bor-radius-sml{
	-webkit-border-radius:5px;
}

.border-right-radius{
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	
}

.border-left-radius{
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	
}

.border-radius-no{
		border-right: 0em;
}




