/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

/*-----------------font-size---------------------*/

.font-sml{
	font-size: 0.7em;
}

.font-medi{
	font-size: 1em;
}

.font-lar{
	font-size: 2em;
}

.font-ex-lar{
	font-size: 70px;
}

.font-we-bo{
	font-weight: bold;
}

/*-----------------font-family---------------------*/

.font-ita{
	font-style:italic;
}

.font-f-rale{
	font-family: 'Raleway', sans-serif;
}

.font-f-play{
	font-family: 'Playfair Display', serif;
}

/*.font-open-sans-{
	font-family: 'Open Sans', sans-serif;
}*/

.font-open-sans-lig{
	font-family: 'Open Sans', sans-serif;
}

.font-roboto{
	font-family: 'Roboto', sans-serif;
}
/*--------------min-max-height--------------*/

.min-height{
	min-height:100%;
}

.max-height {
	max-height:100%;
}


/*--------------min-max-weight----------------*/

.max-width {
	max-width:100%;
}	

.min-width {
	min-width:100%;
}	

