/*-----------------text-align---------------------*/

.text-ali-c{
	text-align: center;
}

.text-ali-ri{
	text-align: right;
}

.text-ali-le{
	text-align: left;
}

/*-----------------padding---------------------*/

/*top bottom--*/

.pad-up-down{
	padding: 0.5rem 0rem;
}

.pad-up-down-med{
	padding: 1rem 0rem;
}

.pad-up-down-lar{
	padding: 2rem 0rem;
}

/*sides---*/

.pad-left-right-sml{
	padding: 0em 0.5em;
} 

.pad-left-right-med{
	padding: 0em 0.8em;
}

.pad-left-right-lar{
	padding: 0em 1em;
}  
/*all----*/

.pad-ex-sml{
	padding: 0.5em;
}

.pad-sml{
	padding: 1em;
}

.pad-med{
	padding: 2em;
}
.pad-lar{
	padding: 5em ;
}

.pad-trand{
	padding: 5em 3.5em 5em 5em;
}

/*bottom-----*/

.pad-bottom-ex-sml{
	padding: 0em 0em 0.1em 0em;
}

.pad-bottom-med-sml{
	padding: 0em 0em 0.3em 0em;
}

.pad-bottom-sml{
	padding: 0em 0em 0.5em 0em;
}

.pad-bottom-med{
	padding: 0em 0em 1.5em 0em;
}

.pad-bottom-lar{
	padding: 0em 0em 2.5em 0em;
	
}
/*top-----*/

.pad-top-sml{
	padding-top: 1rem;
}

.pad-top-med{
	padding-top: 2rem;
}

.pad-top-lar{
	padding-top: 3rem;
}

.pad-top-ex-lar{
	padding-top: 5rem;
}

.pad-top-zero{
	padding-top: -3px;
}

/*pad-left-----*/

.pad-left-ex-sml{
	padding-left: 1rem; 
}


.pad-left-sml{
	padding-left: 3rem; 
}

.pad-left-med{
	padding-left: 5rem; 
}

.pad-left-lar{
	padding-left: 7rem; 
}

/*--------------------------------------*/

.text-indent-on{
	text-indent: -10000px;
}

 .text-indent-off{ 
	 text-indent: 0px; 
 } 


 /*------------Shadow-------------------*/

.text-shadow{
	text-shadow: 2px 2px gray;
}


.text-shadow-non{
	text-shadow: none;
}

.box-shadow-non{
	box-shadow: none;
}


 /*----------------width-------------------*/

 
.min-wid-ex-sml{
	width :1%;
}
 
.max-wid{
	width :100%;
}

.max-wid-sml{
	width :30%;
}

.max-wid-ex-sml{
	width :25%;
}


.min-height{
min-height: 300px;
}

/*-----------------margin----------------------*/

/*-------margin-all--------*/

.margin-all-ex-sml{
	margin: 0.5px;
}

.margin-all-sml{
	margin: 1px;
}

.margin-all-med{
	margin: 3px;
}

.margin-all-lar{
	margin: 5px;
}

.margin-all-ex-lar{
	margin: 10px;
}

/*------margin-up-down--------*/

.margin-up-down{
	margin: 5px 0px;
}

.margin-up-down-med{
	margin: 10px 0px;
}

.margin-up-down-lar{
	margin: 20px 0px;
}

.margin-up-down-ex-lar{
	margin: 50px 0px;
}

/*-------margin-bottom--------*/

.margin-bot-sml{
	margin: 0px 0px 5px 0px;
}

.margin-bot-med{
	margin: 0px 0px 15px 0px;
}

.margin-bot-big{
	margin: 0px 0px 50px 0px;
}

/*-------margin-left-right--------*/

.margin-left-right{
	margin: 0px 5px;
}

.margin-left-right-lar{
	margin: 0px 10px;
}

.margin-left{
	margin-left: 3px;
}

/*-----------------line-height----------------*/

.line-height-sml{
	line-height: 2rem;
}

.line-height-med{
	line-height: 3rem;
}

.line-height-lar{
	line-height: 4rem;
}
/*-----------------text-decoration----------------*/

.list-deco{
	list-style-type: none;
}
